@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Nova+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Nova+Mono&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.material-symbols-outlined1 {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 50px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}
.material-symbols-outlined2 {
  font-family: "Material Symbols Outlined";
  font-weight: normal;
  font-style: normal;
  font-size: 70px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: black;
}
.header {
  background-color: rgb(230, 174, 53);
  width: 100%;
  opacity: 70%;
  position: fixed;
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 10px 40px;
  align-items: center;
  z-index: +3;
}
.header-logo {
  display: grid;
  grid-auto-flow: column;
  gap: 1.5rem;
  align-items: center;
}
.header-logo img {
  width: 80px;
  height: 80px;
}
.header-items {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: auto auto;
}
.Logo-span0 {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

main {
  position: relative;
}
.background-wrapper {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: -2;
}
.background-image {
  width: inherit;
  height: fit-content;
  object-fit: cover;
  object-position: 50% 50%;
}
.logo-div {
  width: 100%;
  display: grid;
  position: sticky;
  position: -webkit-sticky;
  bottom: 0px;
  place-items: center;
}
.logo-div div {
  height: 100px;
}
.logo-img {
  width: 200px;
  z-index: -1;
}
.Logo-span {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: rgb(255, 255, 255);
}
.categories-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr;
  width: 100%;
  background-color: aqua;
}
.categories-section2 {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  width: 100%;
  background-color: aqua;
}
.categories-section3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  background-color: aqua;
}
.categories {
  width: 100%;
  height: 300px;
}
.categories-menu {
  background-color: chocolate;
  color: white;
}
.res-circle {
  display: grid;
  background-color: brown;
  place-content: center;
}
.circle-txt {
  display: grid;
  font-family: "Nova Mono", monospace;
  place-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: bisque;
  text-align: center;
  color: black;
}
.link {
  text-decoration: none;
}
.categories-menu {
  display: grid;
  place-content: center;
  font-family: "Nova Mono", monospace;
}
.categories-image {
  width: inherit;
  height: inherit;
}
span {
  font-family: catal;
}
.categories-about-us {
  display: grid;
  place-content: center;
  font-family: "Nova Mono", monospace;
  background-color: olivedrab;
}
.categories-chef {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.categories-location {
  display: grid;
  place-content: center;
  background-color: darkslateblue;
  color: aliceblue;
  gap: 5px;
}
.categories-location .span {
  font-family: "Nova Mono", monospace;
  text-align: center;
}
.categories-location span {
  text-align: center;
}
.story-section {
  height: 400px;
  display: grid;
  background-color: blanchedalmond;
  width: 100%;
  grid-template-columns: auto auto auto;
  place-content: center;
  gap: 2rem;
}
.story-section .line {
  height: 2px;
  width: 80px;
  background-color: rgb(0, 0, 0);
  margin-top: 5px;
}
.story-section span {
  font-family: "Nova Mono", monospace;
}
.text {
  display: grid;
  gap: 2rem;
}
.about-us {
  width: 400px;
}
/*second page*/
.second-header {
  width: 100%;
}
.header-photo {
  width: 100%;
  height: 500px;
  position: relative;
}
.header-photo img[src="/src/assets/img6.jpeg"] {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: 20% 70%;
}
.header-photo div {
  position: absolute;
  top: 15%;
  background-color: aliceblue;
  height: 350px;
  width: 520px;
  opacity: 85%;
}
.logo-img2 {
  width: 120px;
  height: 120px;
}
.header-photo h1 {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
}
.white-div {
  display: grid;
  padding: 15px 50px;
}
.white-div span {
  font-family: "Nova Mono", monospace;
}
.menu-nav {
  display: grid;
  height: 90px;
  background-color: grey;
  padding: 10px 50px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.menu-nav div {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}
.menu-nav div span a {
  text-decoration: none;
  color: aliceblue;
  font-family: "Nova Mono", monospace;
  font-size: 20px;
}
.more {
  text-decoration: none;
  color: aliceblue;
  font-family: "Nova Mono", monospace;
  font-size: 20px;
}
.important-section {
  display: grid;
  margin: 0px 50px;
  grid-template-columns: 1fr auto;
  gap: 6rem;
}
.food-type-item {
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr auto;

  padding: 20px;
  font-family: "Nova Mono", monospace;
  border-bottom: 1px solid rgba(0, 0, 0, 0.459);
  align-items: center;
}
.food {
  font-size: 18px;
  padding: 20px;
  font-family: "Nova Mono", monospace;
  border-bottom: 1px solid rgba(0, 0, 0, 0.459);
}

.basket-main {
  display: grid;
  padding: 15px 0px;
  gap: 1rem;
}
.basket-main span {
  text-align: center;
  font-family: "Nova Mono", monospace;
}
.basket-main label {
  display: grid;
  gap: 10px;
  font-family: "Nova Mono", monospace;
}
.basket footer {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px 0px;
}
aside button {
  border-radius: 30px;
  border-color: orangered;
  color: orangered;
  font-family: "Nova Mono", monospace;
}
.basket-main aside {
  padding: 0px 25px;
  display: grid;
  gap: 2rem;
  place-content: center;
  grid-auto-flow: column;
}
.item-inbasket {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  align-items: center;
  gap: 1rem;
}
.item-inbasket input {
  width: 50px;
  height: 30px;
  padding: 5px;
}
.basket button {
  padding: 20px;
  border-radius: 30px;
  border-color: orangered;
  color: orangered;
  font-family: "Nova Mono", monospace;
}
.order-button {
  text-align: center;
}
input[type="time"] {
  height: 30px;
  padding: 5px;
}
.item-inbasket span {
  font-size: 18px;
  font-family: "Nova Mono", monospace;
}
footer span {
  font-size: 18px;
  font-family: "Nova Mono", monospace;
}
.rendering-items {
  display: grid;
  padding-top: 15px;
  grid-template-columns: repeat(2, 50%);
  gap: 2rem;
}
.rendering-items li {
  list-style: none;
  border: 1px solid black;
  background-color: rgb(82, 82, 82);
  padding: 10px 30px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 1rem;
  align-items: center;
}
.rendering-items li span {
  font-size: 18px;
  font-family: "Nova Mono", monospace;
  color: aliceblue;
}
.break-name {
  width: 250px;
  word-break: break-all;
}
/*Profile Page */

.Profile-header {
  display: grid;
  width: 100%;
  text-align: center;
  gap: 1rem;
  padding-top: 30px;
  font-family: "Dancing Script", cursive;
}
.Profile-header h1 {
  font-size: 50px;
  color: royalblue;
}
.profile-main {
  padding: 100px 200px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.profile-main span {
  color: white;
}
.profile-picture-div {
  background-color: rgb(200, 164, 233);
  position: relative;
  padding-top: 90px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  
}
.profile-divs {
  height: 500px;
}
.div1 {
  display: grid;
}
.round-div {
  position: absolute;
  bottom: 420px;
  left: 27%;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-color: aquamarine;
}
.profile-divs h1 {
  font-family: "Nova Mono", monospace;
  font-size: 40px;
  color: royalblue;
}
.profile-divs h3 {
  font-family: "Nova Mono", monospace;
  font-size: 25px;
  color: royalblue;
}
.bg-section {
  position: relative;
  width: 100%;
  height: 100vh;
}
.bg-section img {
  position: absolute;
  z-index: -1;
  opacity: 95%;
  width: inherit;
  height: inherit;
}
.round-div img {
  width: inherit;
  height: inherit;
  z-index: 0;
  border-radius: 50%;
  opacity: 100%;
  object-fit: cover;
}
.divdiv{
display: grid;
gap: 1rem;
}